.answer {
    display: flex;
    flex-direction: column;
}
.answer_about_title{
    font-size:75px;
 }
 .answer_about{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size:30px;
 }
 .area {
    text-align:center;
 }
 .button{
    background:#341800;
    padding: 30px 60px;
    border:none;
    text-decoration:none;
    color:#fff;
    font-size:30px;
    font-family:sans-serif;
    text-align:center
  }
  
  .block{
    display:block;
    width:150px;
    margin:0 auto;
  }
  body {
   background:#AC9676;
 }