body{
    margin: 0px;
}
/*header*/
.header-bg{
    background-color: #341800;
    height: 6px;
    width: 100%;
    position: fixed;
    top:0;
    z-index:55;
    border-bottom:solid 1px #341800 ;
}
#navi{
    background-color: #477424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    width: 100%;
    position: fixed;
    top:0px;
    z-index:55;
    border-bottom: solid 1px #341800;
}
.navi01{
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    margin: 0;
}
.navi02{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin: 0;
}
#navi li {
  text-align: center;
  list-style: none;
}

#navi a{
    display: block;
}
.navi01 a{
    text-decoration: none;
    color: #FFF;
    outline:none;
    padding:13px 0;
}
.navi02 a {
    text-decoration: none;
    color: #FFF;
    outline:none;
    padding:15px 0;
}
.navi02 a:hover{
    background-color: #FFF;
    color:#000;
}
.bgcolor02 a {
    text-decoration: none;
    color: #000;
    outline:none;
    padding:15px 0;
}
.bgcolor02 a:hover{
    background-color: #477424;
    color:#FFF;
}

.bgcolor01{
    margin: 0;
}
.bgcolor02{
    background-color: #FFF;
    margin: 0;
}
.header_image{
    width: 60px;
    height: 50px;
    object-fit: cover;
    margin: 5px 10px 5px -30px;
}
/*fotter*/
footer{
    background-color: #F6EED0;
    width: 100%;
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.footer_title{
    font-size:24px;
    margin-top: 50px;
}
.footer_message{
    font-size: 20px;
    margin: 0 30px;
}
.footer_link{
    font-size:20px;
    padding: 20px 0;
}
.footer_link a{
    color:#0097a7;
}
/*checkbox*/
.btn_hide{
    display: none;
}

@media (min-width:1024px){
    .navi02{
        padding-left: 0;
    }
    .navi02 li{
        width: 150px;
        border-left:solid 1px #341800;
    }
}

@media (max-width:1023px) {
    .header-bg{
        background-color: #341800;
        height: 6px;
        width: 100%;
        position: fixed;
        top:0;
        z-index:55;
    }
    #navi{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navi01{
        display: flex;
        justify-content: flex-start;
        font-size: 22px;
        margin: 0;
        color:#FFF;
    }
    .navi02{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-100%;
        z-index: +1;
        margin: 0;
        padding: 66px 20px 0px 20px;
        height: 100%;
        width: 55%;
        border-top: solid 6px #341800;
        background-color: #477424;
        transition: all 0.5s;
    }
    #navi li {
      text-align: center;
      list-style: none;
    }
    #navi a{
        display: block;
    }
    .navi01 a{
        text-decoration: none;
        color: #FFF;
        outline:none;
        padding:13px 0;
    }
    .navi02 a {
        color:#FFF;
        border-bottom: solid 1px #FFF;
    }
    .navi02 a:hover{
        background-color: #fff;
        color:#000;
    }
    .bgcolor02 a {
        background-color: #477424;
    }
    
    .bgcolor01{
        margin: 0;
    }
    .bgcolor02{
        background-color: #477424;
    }
    
    .navi_btn {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        margin-top: 6px;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background-color: #477424;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .navi_btn span,
    .navi_btn span:before,
    .navi_btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
        -webkit-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
    .navi_btn span:before{
        bottom:8px;
    }
    .navi_btn span:after{
        top:8px;
    }
    #toggle:checked ~ .navi_btn span{
        background-color: rgba(255, 255, 255, 0);
    }
    #toggle:checked + .navi_btn span::before{
        bottom:0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #toggle:checked + .navi_btn span::after{
        top:0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #toggle:checked ~ .navi02{
        right:0;
    }
}

@media screen and (max-width:896px) {
    .header-bg{
        background-color: #341800;
        height: 6px;
        width: 100%;
        position: fixed;
        top:0;
        z-index:55;
    }
    #navi{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navi01{
        display: flex;
        justify-content: flex-start;
        font-size: 22px;
        margin: 0;
        color:#FFF;
    }
    .navi02{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-100%;
        z-index: +1;
        margin: 0;
        padding: 66px 20px 0px 20px;
        height: 100%;
        width: 100%;
        border-top: solid 6px #341800;
        background-color: #477424;
        transition: all 0.5s;
    }
    #navi li {
      text-align: center;
      list-style: none;
    }
    #navi a{
        display: block;
    }
    .navi01 a{
        text-decoration: none;
        color: #FFF;
        outline:none;
        padding:13px 0;
    }
    .navi02 a {
        color:#FFF;
        border-bottom: solid 1px #FFF;
    }
    .navi02 a:hover{
        background-color: #fff;
        color:#000;
    }
    .bgcolor02 a {
        background-color: #477424;
    }
    
    .bgcolor01{
        margin: 0;
    }
    .bgcolor02{
        background-color: #477424;
    }
    
    .navi_btn {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        margin-top: 6px;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 10;
        background-color: #477424;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .navi_btn span,
    .navi_btn span:before,
    .navi_btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
        -webkit-transition: 0.3s ease-in;
        transition: 0.3s ease-in;
    }
    .navi_btn span:before{
        bottom:8px;
    }
    .navi_btn span:after{
        top:8px;
    }
    #toggle:checked ~ .navi_btn span{
        background-color: rgba(255, 255, 255, 0);
    }
    #toggle:checked + .navi_btn span::before{
        bottom:0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #toggle:checked + .navi_btn span::after{
        top:0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #toggle:checked ~ .navi02{
        right:0;
    }
    .footer_message{
        font-size:18px;
    }
}
