  .content{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
 }
 .content_about{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
 }
 .content_about_title{
    font-size: 24px;
 }
 .content_about_message{
    font-size:20px;
    overflow-wrap: break-word;
    margin: 0 20px;
 }
 
 .content_work{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }
 .content_work_image{
   object-fit: cover;
   width: 530px;
   height: auto;
 }
 .content_work_about{
    text-align: center;
 }

.student__about{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 50px;
   margin: 0 100px;
   font-size:20px;
}
.student__about_message{
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.flex{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:30px 0;
   margin: 0;
}
.content_image{
   object-fit: cover;
   height: 222px;
   width: 400px;
}
.right{
   text-align: center;
    font-size:20px;
    color:#272727;
}
.text{
   margin: 0 20px;
    overflow-wrap: break-word;
}
@media (max-width:896px) {
   .flex{
      display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
   }
   .content_work_image{
      width: 100%;
      max-width: 500px;
      height: auto;
   }
}
