 .content{
    display: flex;
    flex-direction: column;
 }
 .content_about{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
 }
 .content_about_title{
    font-size: 24px;
 }
 .content_about_message{
    font-size:20px;
    overflow-wrap: break-word;
    margin: 0 20px;
 }
 
 .content_work{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 0;
    margin: 0 150px;
    flex-direction: column;
 }
 .content_work_image{
    height: 330px;
    width: 500px;
    background-color: #DBDBDB;
 }
 .content_work_about{
   
    text-align: center;
 }

.introduction.a{
   display: flex;
   justify-content: center;
   align-items: center;
}
.introduction.b{
   display: flex;
   justify-content: center;
   align-items: center;
}
.introduction.c{
   display: flex;
   justify-content: center;
   align-items: center;
}
.introduction.d{
   display: flex;
   justify-content: center;
   align-items: center;
}

 @media (max-width:896px) {
    .content_work_image{
       width:100%;
    }
 }

.introduction{
   text-align: center;
}

.student__about{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 50px;
}
.student__about_message{
   font-size:20px;
    overflow-wrap: break-word;
    margin: 0 20px;
}
