.paln_about{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.plan_about_title{
    font-size: 24px;
}
.plan_about_message{
    font-size:20px;
    overflow-wrap: break-word;
    margin: 0 20px;
}

.plan_box_image{
    object-fit: cover;
    height: 200px;
    width: 300px;
}
.plan_box_title{
    text-align: center;
    font-size: 24px;
    margin-bottom: -10px;
}
.plan_box_message{
    text-align: center;
    font-size: 20px;
}
.plan_box_row{
    display: flex;
    justify-content: center;
    gap:20px;
    margin: 0 150px;
}
.plan_box1{
    background-color: #D5C7AE;
    padding: 20px 20px 0 20px;
    margin-bottom: 30px;
}
.plan_box2{
    background-color: #F0E9DB;
    padding: 20px 20px 0 20px;
    margin-bottom: 30px;
}
.hide{
    visibility: hidden;
}
@media (max-width:896px){
    .plan_box_row{
        flex-direction: column;
        margin: auto;
    }
    .plan_box_image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    br{
        display: none;
    }
    .plan_box1{
        width: 340px;
        margin-right: auto;
        margin-left: auto;
    }
    .plan_box2{
        width: 340px;
        margin-right: auto;
        margin-left: auto;
    }
}
