.delivery{
   display: flex;
   flex-direction: column;
}
.delivery_about{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 50px;
}
.delivery_about_title{
   font-size: 24px;
   word-wrap: break-word;
}
.delivery_about_message{
   font-size:20px;
    overflow-wrap: break-word;
    margin: 0 20px;
}
.delivery_work{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:30px 0;
   margin: 0 150px;
   flex-direction: column;
}

.delivery_work_about{
   text-align: center;
}
.delivery_work_about_last{
   text-align: center;
   margin-bottom: 80px;
}
.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width:896px) {
   .delivery_work{
      margin: 30px;
      padding:0
   }
   .delivery_work_image{
      position: relative;
        width: 100%;
        padding-top: calc(315 / 560 * 100%);
   }
   .delivery_work_image iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}
